img {
  height: 150px;
  width: 150px;
}
ul li {
  list-style-type: none;
}
.schoolName {
  width: 22%;
  float: left;
}

@media screen and (max-width: 750px) {
.schoolName {
  width: 48%;
}
img {
  height: 200px;
  width: 200px;
}
}
