
body {
  font-family: 'Bubbler One', sans-serif;
}
ul li {
  list-style-type: none;
}

/* Image Sizing */
.imageSchool {
  height: 200px;
  width: 200px;
}
.schoolImage_header {
  height: 50px;
  width: 50px;
  display: inline;
}
.schoolPhoto {
  width: 80%;
  height: 400px;
}
/* Header : Floating image and Home for Site Navigation on mobile */

    /* Main container for header .div_main_header */
.div_main_header {
  text-align: center;
}
.schoolImage_header {
  float: left;
  margin: 1em 0 0 2%;
}
.schoolImage_header ~ h1 {
  display: block;
  width: 35%;
  float: right;
}
/* Google Maps <div> Setting mobile */
.mapGames {
  height: 500px;
  width: 100%;
  margin: 0 auto
}
.googleDiv {
  clear: both;
  text-align: center;
}

/* Main content : 2 Primary Divs: _content_One and _content_Two */
.div_content_One, .div_content_Two {
  text-align: center;
  width: 100%;
}
.div_header_image {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
  overflow: hidden;
}
.div_main_content {
  clear: both;
}
.div_main_specific {
  clear: both;
}

/* All the specific school colors. Setting as <div> and have colors inherit down */
div[data-school] {
  border-radius: 50px;
  margin: 0;
  padding: 0;
  /*font-family: 'Raleway', sans-serif;*/
}
div[data-school] a {
  text-decoration: none;
}
div[data-school="michigan"], div[data-school="michigan"] a, div[data-school="michigan"] a:visited {
  color:  #041E42;
  /*background-color: #FFC72C;*/
}
div[data-school="ohiostate"], div[data-school="ohiostate"] a, div[data-school="ohiostate"] a:visited {
  color: #bb0000;
  /*background-color: #666666;*/
}
div[data-school="wisconsin"], div[data-school="wisconsin"] a, div[data-school="wisconsin"] a:visited {
  color: #c5050c;
  /*background-color: #f7f7f7;*/
}

div[data-school="michiganstate"], div[data-school="michiganstate"] a, div[data-school="michiganstate"] a:visited {
  color: #19453B;
}
div[data-school="northwestern"], div[data-school="northwestern"] a, div[data-school="northwestern"] a:visited {
  color: #4E2A84;
}
div[data-school="pennstate"], div[data-school="pennstate"] a, div[data-school="pennstate"] a:visited {
  color: #1E407C;
  /*background-color: #FFFFFF;*/
}
div[data-school="illinois"], div[data-school="illinois"] a, div[data-school="illinois"] a:visited {
  /*background-color: #131F33;*/
  color: #FA6300;
}
div[data-school="minnesota"], div[data-school="minnesota"] a, div[data-school="minnesota"] a:visited {
  /*background-color: #FFCD00;*/
  color: #7A0019;
}
div[data-school] p {
  color: black;
  font-size: 1.25em;
}
div[data-school="nebraska"], div[data-school="nebraska"] a, div[data-school="nebraska"] a:visited {
  color: #D00000;
  /*background-color: #FEFDFA;*/
}
div[data-school="iowa"], div[data-school="iowa"] a, div[data-school="iowa"] a:visited {
  color: #000000;
  /*background-color: #FFCD00;*/
}
div[data-school="maryland"], div[data-school="maryland"] a, div[data-school="maryland"] a:visited {
  color: #ff0000;
  /*background-color: #ffcc00;*/
}
div[data-school="rutgers"], div[data-school="rutgers"] a, div[data-school="rutgers"] a:visited {
  color: #cc0033;
  /*background-color: #5f6a72;*/
}
div[data-school="purdue"], div[data-school="purdue"] a, div[data-school="purdue"] a:visited {
  color: #C28E0E;
  /*background-color: #000000;*/
}
div[data-school="indiana"], div[data-school="indiana"] a, div[data-school="indiana"] a:visited {
  color: #990000;
  /*background-color: #EEEDEB;*/
}

/* Footer : Reusing School Logo. Changing size and center */
footer {
  text-align: center;
  clear: both;
}
footer .imageSchool {
  height: 100px;
  width: 100px;
  margin: 1em 0;
}
footer .imageSchool:hover {
  opacity: .5;
}

/* Responsive : Starting to hit Tablet Sizes */

@media (min-width: 550px) {
  /* Google Maps Div */
.mapGames {
  width: 80%;
  margin: 0 auto;
}

 /*Div Header: Used within 2 main content sections */
.div_header_image {
  width: 60%;
  height: 250px;
}
}


/* Responsive Desktop Sizes */
@media (min-width: 961px) {

  /* Header : All the same except little more padding */
  .schoolImage_header {
    padding-left: 25px;
  }
  /* Main content sections _content_One and _content_Two - + image styling for div_header_image */
  .div_content_One {
    width: 45%;
    float: left;
  }
  .div_content_Two {
    width: 45%;
    float: right;
  }
  .div_header_image {
    height: 250px;
    width: 80%;
    margin: 2em auto 0 auto;
  }
}

@media (min-width: 1200px) {
  
}
