.imageSchool {
  height: 200px;
  width: 200px;
}

/* Header */
.imgHeader{
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
}
.listHeader {
  text-align: center;
}
.schoolImage_header {
  height: 50px;
  width: 50px;
}
.schoolPhoto {
  width: 80%;
  height: 400px;
}
.h1_icon {
  color: blue;
}
ul li {
  list-style-type: none;
}
.schoolName {
  width: 95%;
  text-align: center;
  margin-right: 5%;
}
.schoolName:hover {
  opacity: .3;
}
.mapGames {
  height: 500px;
  width: 90%;
  margin: 0 auto
}
.div_content_One, .div_content_Two {
  text-align: center;
  width: 100%;
}
.div_main_header {
  text-align: center;
}
.div_header_image {
  height: 200px;
  width: 100%;
}
.div_main_content {
  clear: both;
}
.div_main_specific {
  clear: both;
}
.googleDiv {
  clear: both;
  text-align: center;
}
footer {
  text-align: center;
}
footer .imageSchool {
  height: 100px;
  width: 100px;
}
@media (min-width: 550px) and (max-width: 960px) {
.schoolName {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.mapGames {
  width: 80%;
}
.div_header_image {
  height: 300px;
  width: 100%;
}
}
@media (min-width: 961px) {
  /*.div_main_specific {
    width: 45%;
    float: left;
    clear: right;
  }*/
  .div_content_One {
    width: 45%;
    float: left;
  }
  .div_content_Two {
    width: 45%;
    float: right;
  }
  .schoolImage_header {
    height: 50px;
    width: 50px;
    text-align: left;
    padding-left: 25px;
  }
  .schoolName {
    width: 30%;
    float: left;
    text-align: center;
    margin-right: 0%;
  }
  .div_header_image {
    height: 300px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
    .div_header_image {
      height: 400px;
    }
}
